In [1]:
import pandas as pd
import numpy as np
import sqlite3

Establishing the connection with database.

In [ ]:
conn = sqlite3.connect('your_database.db') #database name

Imported the dataset of event from the database.

In [2]:
query = "SELECT * FROM your_table" #selecting table
data = pd.read_sql_query(query, conn)

In [3]:
data.head()

,Unnamed: 0,Name,Price,Date_time,Location,About
0,0,NEW YEARS EVE 5 HOURS PREMIUM OPEN BAR AT KATRA,From $32.64,"December 31 Â· 9pm - January 1, 2024 Â· 4am EST",Katra,5 HOURS OF PREMIUM OPEN BARCHAMPAGNE TOAST AT ...
1,1,ROOFTOP WATCH PARTY | SUITE FOOD LOUNGE,Free,"Saturday, December 30 Â· 3 - 9pm EST",Suite Food Lounge,"Celebrity guest, live music by Atlanta's top D..."
2,2,THE GREATEST SHOW ON EARTH REVEL ATLANTA,NaN,December 23 Â· 10pm - December 24 Â· 3am EST,REVEL ATLANTA,Join us every week at THE GREATEST SHOW ON EAR...
3,3,THE GREATEST NYE ON EARTH NEW YEARS EVE | REVE...,$0 â€“ $100,"Ends on Monday, January 1, 2024 Â· 3am EST",Revel,THE GREATEST NEW YEAR'S EVE ON EARTH 2024 | RE...
4,4,HANGOVER ROOFTOP BRUNCH AT SUITE LOUNGE,NaN,"Monday, January 1, 2024 Â· 3 - 9pm EST",Suite Food Lounge,Welcome to the Hangover Rooftop Brunch at Suit...

Checking if there is any null value in data.

In [4]:
data.isnull().sum()

Unnamed: 0     0
Name           0
Price         43
Date_time     38
Location      36
About         37
dtype: int64

Dropping the null value and reseting the index.

In [5]:
data.dropna(inplace=True)
data.reset_index(drop=True, inplace=True)

Checking for duplicate data.

In [6]:
data.duplicated().sum()

0

In [7]:
data.shape

(75, 6)

Converting the data into list format.

In [11]:
data["event_description"] = data["event_description"].apply(lambda x:x.split())
data['venue']=data['venue'].apply(lambda x:x.replace(" ",""))
data['start_date']=data['start_date'].apply(lambda x:x.split())
data['end_date']=data['end_date'].apply(lambda x:x.split())
data['start_time']=data['start_time'].apply(lambda x:x.split())
data['price']=data['price'].apply(lambda x:x.split())
data['category']=data['category'].apply(lambda x:x.split())
data['organizer']=data['organizer'].apply(lambda x:x.split())

In [12]:
data.head()

,Id,Name,Price,Date_time,Location,About
0,0,NEW YEARS EVE 5 HOURS PREMIUM OPEN BAR AT KATRA,"[From, $32.64]","[December, 31, Â·, 9pm, -, January, 1,, 2024, Â·...",[Katra],"[5, HOURS, OF, PREMIUM, OPEN, BARCHAMPAGNE, TO..."
1,1,ROOFTOP WATCH PARTY | SUITE FOOD LOUNGE,[Free],"[Saturday,, December, 30, Â·, 3, -, 9pm, EST]",[SuiteFoodLounge],"[Celebrity, guest,, live, music, by, Atlanta's..."
2,2,THE GREATEST NYE ON EARTH NEW YEARS EVE | REVE...,"[$0, â€“, $100]","[Ends, on, Monday,, January, 1,, 2024, Â·, 3am,...",[Revel],"[THE, GREATEST, NEW, YEAR'S, EVE, ON, EARTH, 2..."
3,3,New Year's Eve Party 2024 at Hilton Chicago wi...,"[$20, â€“, $3,000]","[December, 31, Â·, 9pm, -, January, 1,, 2024, Â·...",[HiltonChicago],"[Ring, in, NYE, 2024, at, the, Hilton, Chicago..."
4,4,"Jim Irsay Collection Exhibit & Concert, Los An...",[Free],"[Thursday,, January, 11,, 2024, Â·, 6:30, -, 10...",[ShrineAuditoriumandExpoHall],"[Jim, Irsayâ€™s, world-renowned, collectionâ€”a, t..."

In [13]:
data.sample(6)

,Id,Name,Price,Date_time,Location,About
18,18,"MIDNIGHT SOIRÃ‰E New Year's Eve Party, Presente...","[$110, â€“, $150]","[December, 31, Â·, 9pm, -, January, 1,, 2024, Â·...",[InknIvy],"[MIDNIGHT, SOIRÃ‰EUPTOWN, CHARLOTTE'S, PREMIER,..."
29,29,The EPIC Countdown NYE 2024 IN THE DOME | Lex...,"[$30, â€“, $300]","[December, 31, Â·, 8pm, -, January, 1,, 2024, Â·...",[LexusVelodrome],"[SMOKE, PROMOTIONS, |, ULTIMATE, GROUP, |, PHA..."
42,42,New Years Eve at Resurgence Brewing Co.!,[$87.21],"[December, 31, Â·, 9pm, -, January, 1,, 2024, Â·...",[ResurgenceBrewingCompany],"[You, wonâ€™t, want, to, miss, out, on, this, pr..."
69,69,Rebecca Ross with Roshani Chokshi - Ruthless V...,[Free],"[Starts, on, Tuesday,, January, 2,, 2024, Â·, 7...",[FirstBaptistChurchofDecatur],"[If, you, or, a, loved, one, have, been, perso..."
71,71,"Philly Chocolate, Wine & Whiskey Festival 2024","[$69, â€“, $90]","[Saturday,, February, 3,, 2024, Â·, 11:30am, -,...",[PhillyExpoCenter],"[*Hey, Philly, -, You're, Chocolateest, Festiv..."
6,6,Chicago New Year's Eve Bar Crawl in Wrigleyville,"[From, $29.99]","[December, 31, Â·, 7pm, -, January, 1,, 2024, Â·...",[Wrigleyville'sBestBars],"[Earn, a, FREE, Ticket, &, Some, Holiday, Cash..."

Creating the tag from those list.

In [14]:
data['tag']=data['category']+data['organizer']+data['start_date']+data['end_date']+data['start_time']+data['venue']+data['price']+data["event_description"]
data

,Id,Name,Price,Date_time,Location,About,tag
0,0,NEW YEARS EVE 5 HOURS PREMIUM OPEN BAR AT KATRA,"[From, $32.64]","[December, 31, Â·, 9pm, -, January, 1,, 2024, Â·...",[Katra],"[5, HOURS, OF, PREMIUM, OPEN, BARCHAMPAGNE, TO...","[December, 31, Â·, 9pm, -, January, 1,, 2024, Â·..."
1,1,ROOFTOP WATCH PARTY | SUITE FOOD LOUNGE,[Free],"[Saturday,, December, 30, Â·, 3, -, 9pm, EST]",[SuiteFoodLounge],"[Celebrity, guest,, live, music, by, Atlanta's...","[Saturday,, December, 30, Â·, 3, -, 9pm, EST, S..."
2,2,THE GREATEST NYE ON EARTH NEW YEARS EVE | REVE...,"[$0, â€“, $100]","[Ends, on, Monday,, January, 1,, 2024, Â·, 3am,...",[Revel],"[THE, GREATEST, NEW, YEAR'S, EVE, ON, EARTH, 2...","[Ends, on, Monday,, January, 1,, 2024, Â·, 3am,..."
3,3,New Year's Eve Party 2024 at Hilton Chicago wi...,"[$20, â€“, $3,000]","[December, 31, Â·, 9pm, -, January, 1,, 2024, Â·...",[HiltonChicago],"[Ring, in, NYE, 2024, at, the, Hilton, Chicago...","[December, 31, Â·, 9pm, -, January, 1,, 2024, Â·..."
4,4,"Jim Irsay Collection Exhibit & Concert, Los An...",[Free],"[Thursday,, January, 11,, 2024, Â·, 6:30, -, 10...",[ShrineAuditoriumandExpoHall],"[Jim, Irsayâ€™s, world-renowned, collectionâ€”a, t...","[Thursday,, January, 11,, 2024, Â·, 6:30, -, 10..."
...,...,...,...,...,...,...,...
70,70,MACHEL MONTANO HOSTING RISE AND TOAST | MLK WE...,"[$0, â€“, $35]","[Sunday,, January, 14,, 2024, Â·, 12, -, 9pm, EST]",[TheUrban],"[@riseandtoastRISE, +, TOASTHOSTED, BY, MACHEL...","[Sunday,, January, 14,, 2024, Â·, 12, -, 9pm, E..."
71,71,"Philly Chocolate, Wine & Whiskey Festival 2024","[$69, â€“, $90]","[Saturday,, February, 3,, 2024, Â·, 11:30am, -,...",[PhillyExpoCenter],"[*Hey, Philly, -, You're, Chocolateest, Festiv...","[Saturday,, February, 3,, 2024, Â·, 11:30am, -,..."
72,72,A New Years Eve Celebration with DJ Nala,"[$79, â€“, $1,999]","[December, 31, Â·, 9pm, -, January, 1,, 2024, Â·...","[3001AbbotsburyDrive,CedarPark,TX,USA]","[ðŸŽ‰, Welcome, the, New, Year, in, Style, at, Au...","[December, 31, Â·, 9pm, -, January, 1,, 2024, Â·..."
73,73,New Years Eve Celebration with the Vegas Cola ...,"[$0, â€“, $85]","[December, 31, Â·, 9:30pm, -, January, 1,, 2024...",[CafeNegril],"[Bring, in, 2024, with, legacy, musician, Vega...","[December, 31, Â·, 9:30pm, -, January, 1,, 2024..."
74,74,WINTER ZESS 2023,"[$22, â€“, $52]","[December, 24, Â·, 10pm, -, December, 25, Â·, 3a...",[PacificBK],"[WINTER, ZESS!!!!, ZESS, ZESS, &, MORE, ZESS,,...","[December, 24, Â·, 10pm, -, December, 25, Â·, 3a..."

Creating new dataframe.

In [15]:
df = data[["Id","Name","tag"]]
df

,Id,Name,tag
0,0,NEW YEARS EVE 5 HOURS PREMIUM OPEN BAR AT KATRA,"[December, 31, Â·, 9pm, -, January, 1,, 2024, Â·..."
1,1,ROOFTOP WATCH PARTY | SUITE FOOD LOUNGE,"[Saturday,, December, 30, Â·, 3, -, 9pm, EST, S..."
2,2,THE GREATEST NYE ON EARTH NEW YEARS EVE | REVE...,"[Ends, on, Monday,, January, 1,, 2024, Â·, 3am,..."
3,3,New Year's Eve Party 2024 at Hilton Chicago wi...,"[December, 31, Â·, 9pm, -, January, 1,, 2024, Â·..."
4,4,"Jim Irsay Collection Exhibit & Concert, Los An...","[Thursday,, January, 11,, 2024, Â·, 6:30, -, 10..."
...,...,...,...
70,70,MACHEL MONTANO HOSTING RISE AND TOAST | MLK WE...,"[Sunday,, January, 14,, 2024, Â·, 12, -, 9pm, E..."
71,71,"Philly Chocolate, Wine & Whiskey Festival 2024","[Saturday,, February, 3,, 2024, Â·, 11:30am, -,..."
72,72,A New Years Eve Celebration with DJ Nala,"[December, 31, Â·, 9pm, -, January, 1,, 2024, Â·..."
73,73,New Years Eve Celebration with the Vegas Cola ...,"[December, 31, Â·, 9:30pm, -, January, 1,, 2024..."
74,74,WINTER ZESS 2023,"[December, 24, Â·, 10pm, -, December, 25, Â·, 3a..."

Removing the " , " between the tags.

In [16]:
df['tag']=df['tag'].apply(lambda x:" ".join(x))

/tmp/ipykernel_163254/2273421580.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tag']=df['tag'].apply(lambda x:" ".join(x))

In [17]:
df['tag'][0]

'December 31 Â· 9pm - January 1, 2024 Â· 4am EST Katra From $32.64 5 HOURS OF PREMIUM OPEN BARCHAMPAGNE TOAST AT MIDNIGHTAT The Luxurious Katra NYCSUNDAY DECEMBER 31st217 Bowery btwn Prince & Rivington StreetBoasting 2 Unique, Fun-Filled Floors,This Is What You Call The ULTIMATE New Yearâ€™s Eve Entertainment At Itâ€™s Best Hit the dance floor as a DJ spins the latest Top 40, Hip-Hop, Reggae, Trap & More!-TICKET STARTS AT $595 HOURS OF PREMIUM OPEN BAR! Appetizers | Party Favors. - Complimentary champagne toast at midnight - Complimentary festive NYE party favors -TICKETS START AT $29 Admission To The Venue AFTER 12:30 AM1 HOUR and 1/2 OF PREMIUM OPEN BAR!VIP bottle packages:2 Bottles for $700 ++ includes entrance for 4 people3 bottles for $1050 ++ includes entrance for 6 people4 bottles for $1,400 ++ includes entrance for 8 people5 bottles for $1,750 ++ includes entrance for 10 peopleFor information :212-651-9069 DRESS CODEMandatory Sexy & ChicNO T-Shirts, Hats, Boots or Athletic Wear AllowedCollared Shirts Mandatory for Gents Designer Sneakers Allowed If Worn In Good TasteHeels Mandatory for Ladies Doors Open 9pm | 21+ ID RequiredRefund PolicyNo refunds at any time.Upcoming special Event :Festopia Memorial Day Weekend Dominican Republicwww.festopia.com'

In [18]:
#!pip install nltk

In [19]:
import nltk
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

/usr/lib/python3/dist-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.17.3 and <1.25.0 is required for this version of SciPy (detected version 1.25.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

Stemming the data to obtain the root form.

In [20]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
        
    return " ".join(y)

In [21]:
df['tag'].apply(stem)

0     decemb 31 Â· 9pm - januari 1, 2024 Â· 4am est ka...
1     saturday, decemb 30 Â· 3 - 9pm est suitefoodlou...
2     end on monday, januari 1, 2024 Â· 3am est revel...
3     decemb 31 Â· 9pm - januari 1, 2024 Â· 2am cst hi...
4     thursday, januari 11, 2024 Â· 6:30 - 10:30pm ps...
                            ...
70    sunday, januari 14, 2024 Â· 12 - 9pm est theurb...
71    saturday, februari 3, 2024 Â· 11:30am - 9pm est...
72    decemb 31 Â· 9pm - januari 1, 2024 Â· 3am cst 30...
73    decemb 31 Â· 9:30pm - januari 1, 2024 Â· 12:30am...
74    decemb 24 Â· 10pm - decemb 25 Â· 3am est pacific...
Name: tag, Length: 75, dtype: object

Text vectorization.

Taking 5000 words from the tags concatenated from each events removing the words like a, the.

In [22]:
import sklearn
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000 , stop_words="english")

Converting numpy value into array.

In [23]:
vectors = cv.fit_transform(df['tag']).toarray()

In [24]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [25]:
vectors.shape

(75, 5000)

The 'cv' object contains the 5000 most frequently occurring vectors derived from the 'tag' column.

In [26]:
cv.get_feature_names_out()

array(['00', '000', '004', ..., 'zoukpurple', 'zucchini', 'zz'],
      dtype=object)

In [27]:
len(cv.get_feature_names_out())

5000

In [28]:
from sklearn.metrics.pairwise import cosine_similarity

Calculating cosine similarity between events.

In [29]:
similarity = cosine_similarity(vectors)

The event itself have 1 and other gives the correlation with each event.

In [30]:
similarity

array([[1.        , 0.09198344, 0.10349129, ..., 0.18401326, 0.17816241,
        0.04641363],
       [0.09198344, 1.        , 0.21228451, ..., 0.07677023, 0.01923433,
        0.04080217],
       [0.10349129, 0.21228451, 1.        , ..., 0.19476669, 0.08910873,
        0.01800268],
       ...,
       [0.18401326, 0.07677023, 0.19476669, ..., 1.        , 0.11086983,
        0.04150419],
       [0.17816241, 0.01923433, 0.08910873, ..., 0.11086983, 1.        ,
        0.04159452],
       [0.04641363, 0.04080217, 0.01800268, ..., 0.04150419, 0.04159452,
        1.        ]])

In [31]:
cosine_similarity(vectors).shape

(75, 75)

In [32]:
similarity [0]

array([1.        , 0.09198344, 0.10349129, 0.27461983, 0.06017185,
       0.27275309, 0.19226733, 0.16942667, 0.24442087, 0.13225002,
       0.18073219, 0.12570154, 0.16664531, 0.17934711, 0.19706352,
       0.19742091, 0.12860975, 0.0720728 , 0.19342383, 0.17476371,
       0.1825157 , 0.20291802, 0.19680433, 0.18528404, 0.11187636,
       0.16801129, 0.19486065, 0.22661008, 0.20539919, 0.34129358,
       0.07263369, 0.15412559, 0.15100182, 0.19966613, 0.13623826,
       0.24663217, 0.14122095, 0.15491719, 0.19695536, 0.29301087,
       0.20274022, 0.27888521, 0.22968789, 0.12961318, 0.274861  ,
       0.2264725 , 0.17016334, 0.21498403, 0.17999751, 0.30862333,
       0.07125006, 0.20572077, 0.12460887, 0.19304545, 0.19951524,
       0.22251083, 0.23257987, 0.20244293, 0.17180249, 0.13337988,
       0.12436348, 0.15396709, 0.26412406, 0.08999178, 0.15425507,
       0.12555929, 0.18865238, 0.23497753, 0.30489745, 0.06075184,
       0.12967707, 0.09721356, 0.18401326, 0.17816241, 0.04641363])

Sorting on basis of similarity(i.e cosine distance)

In [33]:
sorted(similarity [0],reverse=True) [1:6]

[0.34129358289216133,
 0.3086233327277232,
 0.30489744880569275,
 0.29301087032015954,
 0.27888521108960435]

In list format with index sorted acc to similarity not index.

In [34]:
sorted(list(enumerate(similarity[0])),reverse=True , key=lambda x:x[1])[1:6]

[(29, 0.34129358289216133),
 (49, 0.3086233327277232),
 (68, 0.30489744880569275),
 (39, 0.29301087032015954),
 (41, 0.27888521108960435)]

In [35]:
def recommend(event):
    index=df[df['Name']== event].index[0]
    event_list=sorted(list(enumerate(similarity[index])),reverse=True , key=lambda x:x[1])[1:6]
    
    for i in event_list:
        print(df.iloc[i[0]].Name)

In [36]:
recommend('NEW YEARS EVE 5 HOURS PREMIUM OPEN BAR AT KATRA')

The EPIC Countdown NYE 2024  IN THE DOME | Lexus Velodrome
NYE 2024 at Mission Navy Yard
New Years Eve Party W/ Premium Open Bar
Gatsby's Prohibition New Years Eve  Party 2024  at Morgan Manufacturing
New Year's Eve Bash with Wicked Peach at Hilton Mystic, Mystic Connecticut

In [37]:
recommend('ROOFTOP WATCH PARTY | SUITE FOOD LOUNGE')

Toast NYE at Bamboo Atlanta | Sun Dec 31 2023 | 9pm- 3am |
THE GREATEST NYE ON EARTH 2024 | REVEL ATLANTA
TOAST NYE | Sunday December 31 2023 | at Bamboo Atlanta | 21+
THE GREATEST NYE ON EARTH NEW YEARS EVE | REVEL ATLANTA
ATLANTAâ€™S BIGGEST NEW YEARS EVE ROOFTOP PARTY

In [41]:
recommend('WINTER ZESS 2023')

We Had A Time Last Night 2 Ft Big Yavo Performing Live
ATLANTAâ€™S BIGGEST NEW YEARS EVE ROOFTOP PARTY
MIDNIGHT SOIRÃ‰E New Year's Eve Party, Presented by SportsLink
Quality Control / Sincerely From the Six/ Luving Da Crew  NYE Celebration
New Year's Eve Party by Winter Park Events

In [40]:
df['Name'][74]

'WINTER ZESS 2023'